<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCD - Ticketer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='sweetalert2.min.css')}}">
    <script src="{{url_for('static', filename='sweetalert2.all.min.js')}}"></script>

</head>

<body>

    <section class="container">

        <h1 class="is-size-1 has-text-centered">LCD - Ticketer</h1>

        <div id="video-container" class="container">
            <video id="qr-video"></video>
        </div>

        <div class="container" id="infos">

        </div>

    </section>

    <script src="{{url_for('static', filename='qr-scanner.umd.min.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='ticketer.js')}}"></script>

    <style>
        #video-container {
            width: 75%;
        }
    </style>

</body>

</html>