<div>
    <div class="informations">
        <ul>
            <li>Nom : {{nom}}</li>
            <li>Prenom : {{prenom}}</li>
            <li>anniversaire : {{anniversaire}}</li>
        </ul>
    </div>

    <img src="data:image/png;base64, {{image | safe }}" alt="QR Code">
</div>